body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

table {
  width:50%;
  margin : 10px auto ;
  font-weight: bold;
}

th{
  background-color: #333;
  color: #fff;
}

table tr:hover{
  opacity: 0.8;
  color:blue;
}

table tr:nth-of-type(even){
  background: #e9e9e9;

}
table tr:nth-of-type(odd){
  background: #d6d6d6;

}

th , td {
  padding: 10px;
}

table , th , td {
  border: 1px solid black;
  border-collapse: collapse;
}

/* nav and all page */

.navbar {
  overflow: hidden;
  background: #666 ;
  color: #fff;
}

.container{
  width: 80%;
  margin: auto;
}

.logo{
  font-size: 25px;
  width: 30%;
  float: left;
  display: block;
  color: #fff;
  padding: 10px 0;
}

.nav_link{
  width: 70%;
  float: left;
  padding: 0;
  text-align: right;
}

.nav_link a {
  margin: 0 15px;
  padding: 10px;
  color: #fff;
  text-decoration: none;
}
.nav_link .active {
  background: rgb(36, 236, 103);
}
/* nav and all page */